<section>
  <div class="existing_ingredient_name">
    <%= existing_ingredient.ingredient.name %>
  </div>
  <div class="existing_ingredient_details">
    <%= existing_ingredient.measurement %>
  </div>
  <div class="existing_ingredient_details">
    <%= existing_ingredient.unit %>
  </div>
</section>
