<p style="color: green"><%= notice %></p>

<% content_for :title, "Available Recipes" %>

<button class="new_recipe_button">
  <%= link_to "New recipe", new_recipe_path %>
</button>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>

  <% end %>
</div>

